<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.sobytek.erpsobytek">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.hardware.camera2.full" />

    <uses-feature android:name="android.hardware.camera.any" />

    <application
        android:name=".Sobytek"
        android:allowBackup="false"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher_icon"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_icon_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ERPSobytek"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".view.activities.ChangeLocationActivity"
            android:exported="false" />
        <activity
            android:name=".view.activities.PrintPreviewActivity"
            android:exported="false" />
        <activity
            android:name=".view.activities.SuppliersActivity"
            android:exported="false" />
        <activity
            android:name=".view.activities.StockScannerActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".view.activities.StockTraysActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".view.activities.GirsSelectedActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".view.activities.StockReceiveManipulationActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".view.activities.StockReceiveActivity"
            android:exported="false" />
        <activity
            android:name=".view.activities.StockIssuenceActivity"
            android:exported="false" />
        <activity
            android:name=".view.activities.StockDashboardActivity"
            android:exported="false" />
        <activity
            android:name=".view.activities.ScanIgpDetailActivity"
            android:exported="false" />
        <activity
            android:name=".view.activities.IGPDetailActivity"
            android:exported="false" />
        <activity
            android:name=".view.activities.IGPActivity"
            android:exported="false" />
        <activity
            android:name=".view.activities.ScanLotDetailActivity"
            android:exported="false" />
        <activity
            android:name=".view.activities.SampleReceiveActivity"
            android:exported="true" />
        <activity
            android:name=".view.activities.SampleIssuenceActivity"
            android:exported="true" />
        <activity
            android:name=".view.activities.SampleMenuActivity"
            android:exported="true" />
        <activity
            android:name=".view.activities.LocationDetailActivity"
            android:exported="true" />
        <activity
            android:name=".view.activities.DashboardActivity"
            android:exported="true" />
        <activity
            android:name=".view.activities.LotDetailActivity"
            android:exported="true" />
        <activity
            android:name=".view.activities.LoginActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".view.activities.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.activities.MainActivity"
            android:exported="true"
            android:launchMode="singleInstance" />

        <meta-data
            android:name="com.google.mlkit.vision.DEPENDENCIES"
            android:value="barcode" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>

</manifest>